<nav class="navbar navbar-expand-lg navbar-light" id="main-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="<%= asset_url "logo-width.png" %>" alt="" width="165" height="55"></img>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link fs-5" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <%= link_to "Features", features_path, class: "nav-link fs-5" %>
      </li>
      <li class="nav-item">
        <%= link_to "Pricing", pricing_path, class: "nav-link fs-5" %>
      </li>
      <li class="nav-item">
        <%= link_to "FAQ's", faq_path, class: "nav-link fs-5" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link fs-5" %>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <% if Current.user %>
        <!-- <li class="nav-item nav-link fs-5"></li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hai, <%= Current.user.email %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><%= link_to "Change Password", edit_password_path, class: "dropdown-item"%></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Logout", logout_path, class: "dropdown-item", method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <%= link_to "Get started now", sign_up_path, class: "btn btn-primary btn-lg me-3" %>
        <%= link_to "Log in", sign_in_path, class: "btn btn-outline-primary btn-lg", id:"btn-login" %>
      <% end %>
    </ul>
  </div>
</div>
</nav>