<div class="col-md-4 offset-md-4 mt-5">
  <img class="mx-auto d-block mb-2" id="logo" src="<%= asset_url "logo.png" %>" alt="" width="72" height="72">
  <h1 class="h1 text-md-center">Sign up</h1>
  <%= form_with model: @user, url: sign_up_path do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message| %>
          <div>
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="mb-3">
      <%=form.label :email, class: "form-label" %>
      <%= form.text_field :email, class: "form-control", required: "true", placeholder: "Your email" %>
    </div>
    <div class="mb-3">
      <%=form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", required: "true", placeholder: "Your password" %>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", required: "true", placeholder: "Confirm your password" %>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <%= form.submit "Sign Up", class: "w-100 btn btn-lg btn-primary" %>
  <% end %>
</div>