<div class="col-md-8 offset-md-2 mt-5">
  <img class="mx-auto d-block mb-2" id="logo" src="<%= asset_url "logo.png" %>" alt="" width="72" height="72">
  <h1 class="h1 text-md-center">Change your password</h1>
  <%= form_with model: Current.user, url: edit_password_path do |form| %>
    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <div>
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="mb-3">
      <%=form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", required: "true", placeholder: "Your password" %>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation, class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control", required: "true", placeholder: "Confirm your password" %>
    </div>
    <%= form.submit "Update Password", class: "w-100 btn btn-lg btn-primary" %>
  <% end %>
</div>