<div class="col-md-4 offset-md-4 mt-5">
  <img class="mx-auto d-block mb-2" id="logo" src="<%= asset_url "logo.png" %>" alt="" width="72" height="72">
  <h1 class="h1 text-md-center">Sign In</h1>
  <%= form_with url: sign_in_path do |form| %>
    <div class="mb-3">
      <%=form.label :email, class: "form-label" %>
      <%= form.text_field :email, class: "form-control", required: "true", placeholder: "Your email" %>
    </div>
    <div class="mb-3">
      <%=form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", required: "true", placeholder: "Your password" %>
    </div>
    <%= form.submit "Sign In", class: "w-100 btn btn-lg btn-primary" %>
  <% end %>
</div>