<div class="container-fluid pt-3">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2021 Diposting, Inc</p>
    <ul class="nav col-md-4 justify-content-end">
      <%= link_to "Home", root_path, class: "nav-link px-2 text-muted" %>
      <%= link_to "Features", features_path, class: "nav-link px-2 text-muted" %>
      <%= link_to "Pricing", pricing_path, class: "nav-link px-2 text-muted" %>
      <%= link_to "FAQ's", faq_path, class: "nav-link px-2 text-muted" %>
      <%= link_to "About", about_path, class: "nav-link px-2 text-muted" %>
    </ul>
  </footer>
</div>