// custom css for diposting App
body {
  color: black;
}

main > .container {
  padding: 60px 15px 0;
}

#logo {
  align-items: center;
}

#btn-login:hover {
  background-color: #bbd2f1;
  color: #0d6efd;
}

#main-navbar {
  background-color: white;
}
