<!DOCTYPE html>
<html>
  <head>
    <title>PostScheduleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "layouts/nav/navbar" %>
    </header>
    <div class="container">
      <%= render partial:"shared/flash" %>
      <%= yield %>
    </div>
    <footer>
      <%= render partial:"layouts/footer/footer" %>
    </footer>
  </body>
</html>